---
import Badge from "../components/Badge.astro";
import Socials from "../components/Socials.astro";
import TimeLine from "../components/TimeLine.astro";
import Layout from "../layouts/Layout.astro";
import SContainer from "../components/SContainer.astro";

import ExperienceIcon from "../components/icons/ExperienceIcon.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import LinkedInIcon from "../components/icons/LinkedinIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import EducationIcon from "../components/icons/EducationIcon.astro";
import ProyectIcon from "../components/icons/ProyectIcon.astro";
import Educacion from "../components/Educacion.astro";
---

<Layout title="Porfolio Carlos Puga S. - Full Stack Developer  ">
  <main id="Inicio">
    <SContainer class="py-20 sm:py-32 sm:px-5">
      <div class="flex flex-col items-center sm:items-start gap-6">
        <div class="flex justify-center sm:block mb-6 sm:mb-0">
          <img
            class="rounded-full w-28 h-28 sm:w-32 sm:h-32"
            src="/images/20241220_122959.jpg"
            alt="Fotografía Carlos Puga"
          />
        </div>
        <div>
          <h1
            class="text-white text-2xl sm:text-4xl font-bold flex flex-col sm:flex-row sm:items-center sm:flex-wrap items-center gap-2 sm:gap-4 text-center sm:text-left">
            <span>Bienvenido! Soy Carlos Puga </span>
            <Badge
              class="transition-all duration-300 scale-100 hover:scale-110 hover:-translate-y-1 hover:shadow-xl hover:shadow-emerald-400/40 hover:bg-emerald-500/10"
              >Open to work</Badge
            >
          </h1>
          <h2
            class="text-lg sm:text-xl opacity-70 pb-4 text-center sm:text-left">
            Ingeniero en conectividad y redes / Full Stack developer.
          </h2>
          <nav class="flex flex-wrap gap-3 justify-center sm:justify-start">
            <Socials href="https://www.linkedin.com">
              <LinkedInIcon class="size-5" /> LinkedIn
            </Socials>
            <Socials href="https://github.com">
              <GithubIcon class="size-5" /> Github
            </Socials>
            <Socials href="mailto:CarlosPuga.Sa@gmail.com">
              <MailIcon class="size-5" /> CarlosPuga.Sa@gmail.com
            </Socials>
          </nav>
        </div>
      </div>
    </SContainer>
  </main>

  <SContainer
    id="experiencia"
    class="bg-gradient-to-r from-slate-900/50 to-slate-800/30 rounded-2xl p-4 mt-10">
    <h2
      class="text-xl sm:text-2xl font-semibold mb-4 flex gap-x-3 items-center">
      <ExperienceIcon class="size-6" />
      Experiencia Laboral
    </h2>
    <TimeLine />
  </SContainer>
  <SContainer
    id="educacion"
    class="bg-gradient-to-r from-slate-900/50 to-slate-800/30 rounded-2xl p-4 mt-10">
    <h2
      class="text-xl sm:text-2xl font-semibold mb-4 flex gap-x-3 items-center">
      <EducationIcon class="size-6" />
      Educación
    </h2>
    <Educacion />
  </SContainer>
  <SContainer
    id="proyectos"
    class="bg-gradient-to-r from-slate-900/50 to-slate-800/30 rounded-2xl p-4 mt-10">
    <h2
      class="text-xl sm:text-2xl font-semibold mb-4 flex gap-x-3 items-center">
      <ProyectIcon />
      Proyectos
    </h2>
  </SContainer>
</Layout>
