<header class="w-full px-4 py-4">
  <div
    class="max-w-[740px] mx-auto w-full flex-col items-center gap-4 sm:grid sm:grid-cols-3 sm:items-center">
    <div
      class="flex flex-wrap justify-center sm:justify-end gap-3 text-sm sm:text-base text-white/80">
      <a href="#Inicio" class="hover:text-white transition">Inicio</a>
      <a href="#experiencia" class="hover:text-white transition">Experiencia</a>
    </div>

    <div class="flex justify-center">
      <img
        class="rounded-full size-14"
        src="/images/logoCPS.jpg"
        alt="Logo CPS"
      />
    </div>

    <div
      class="flex flex-wrap justify-center sm:justify-start gap-3 text-sm sm:text-base text-white/80">
      <a href="#proyectos" class="hover:text-white transition">Proyectos</a>
      <a href="#contacto" class="hover:text-white transition">Contacto</a>
    </div>
  </div>
</header>
