<header class="flex items-center py-5 w-[800px] mx-auto">
  <nav class="flex flex-row items-center gap-x-10 opacity-70">
    <a href="#Home"> Home </a>
    <a href="#about"> About </a>
    <img
      class="rounded-full w-16 h-16"
      src="/images/logoCPS.jpg"
      alt="avatar"
    />
    <a href="#projects"> Projects </a>
    <a href="#contact"> Contact </a>
  </nav>
</header>
